
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Đảm bảo card chiếm toàn bộ chiều cao */
}

.card-title {
    font-weight: 600;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.2em;
    min-height: 3em; /* Đảm bảo chiều cao tối thiểu cho tiêu đề */
    display: flex;
    
}

.price-section {
    margin-top: auto; /* Đẩy phần giá xuống đáy của card-body */
}

.price, .old-price, .rating {
    margin: 0;
}

.rating {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .card img {
        height: 180px;
    }

    .card-body {
        padding: 0.6rem;
    }
}

