
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@if (TempData["ThongBao"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["ThongBao"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">ĐĂNG NHẬP</h2>
    <h2 style="color: red;">@ViewBag.ThongBao</h2>
    @using (Html.BeginForm("Login", "Users"))
    {
        @Html.ValidationSummary(true)
        <div class="mb-3 mt-3">
            <label for="name" class="form-label">E-Mail:</label>
            <input type="text" class="form-control" id="email" name="EmailCus"
                   required>
        </div>
        <div class="mb-3 mt-3">
            <label for="pwd" class="form-label">PASSWORD:</label>
            <input type="password" class="form-control" id="pwd" name="PassCus" required>
        </div>
        <button type="submit" class="btn btn-primary">XÁC NHẬN</button>
        <div class="mb-3">
            <a href="@Url.Action("Register", "Users")" class="nav-link">
                Chưa có tài khoản? <i class="fas fa-user-plus"></i> Đăng ký ngay
            </a>
        </div>
    }

</div>
